// Body
//$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$height: 104px;
$transition: 0.3s ease-out all;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ece8e1;
$pink: #ff4655;
$base: #0f1923;
$primary: #6f42c1;
$secondary: #ece8e1;
$white2: #fff;
$gray: #9b9b9b;
