// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "cocktails.scss";

@import "cocktail.scss";
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: black;
}
body {
    background-image: url(../img/wisky_love.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logonavbar {
    content : url(../img/cocktail-svgrepo-com_1_1.svg);
    width: 30px;
}
.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top ;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}
