// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "cocktails.scss";

@import "cocktail.scss";


h2 {
    color: white;
}
p {
    //color: white;
}
body {
    background-color: black !important;
}

///////// HEAD HOME PAGE ///////

.app-top {
    background-image: url(../img/drink-1870139_1920.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding: 50px;
    margin: auto;
}

.app-title {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;color:#FFD100;
    margin-bottom: 5rem;
}

.display-4 {
    color: white;
}
.lead {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.logonavbar {
    background-image : url(../img/cocktail-svgrepo-com_1_1.svg);
}
.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top ;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

//////////// NAVBAR ////////////////

.navbar {
    //opacity: 0.5;
    background-color: black !important;
    color: #6f42c1;
    height: 100px;
    opacity: 0.9;
    border-bottom: 1px solid #6f42c1;
}

.pricing-header {
    //background-color: #6f42c1 !important;
}

li{display:inline-block;min-width:50px;}
li a {
    text-decoration:none;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    font-size: 1.3em;
    color: #6f42c1;
    text-transform: uppercase;
}
li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 5px;
    width: 0;
    background: transparent;
    text-decoration:none;
    transition: width .5s ease, background-color .5s ease;
}
li a:hover:after {
    width: 90%;
    background: #444;
    color: #6f42c1;
    text-decoration:none;
}

/////////////////////////////////////

////////// SEARCH FILTER ////////////

.search-filter input[type=text] {
    width: 100%;
    max-width: 340px;
    margin-top: 7rem;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    height: 4rem;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 25%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight:700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}

////////////////////////////////////

//////// MID HOME PAGE  /////////

.container {
    margin : 0 !important;
    position: center;
    max-width: 1600px !important;
}

.jumbotron {
    color: white !important;
}

.divider-app {
    border-top: 1px solid #6f42c1;
    width: 600px;
    position: center;
    transition: width .5s ease, color .5s ease;
}

#article-right {

    padding: 50px 40px 40px;
    height: 600px;
    display: flex;
    background-color: $white2;
    color: #56257E;
    &__image {
        padding: 40px;
        margin: 100px 100px 0 0;
        max-width: 100px;
        max-height: 80px;
        width: 100px;
        object-fit: contain;
        align-self: flex-start;
    }
    &__text {
        flex: 1 1 auto;
        padding: 40px 40px 0 0;
        align-self: auto;
    }
}

#article-left {

    padding: 20px 40px 40px;
    height: 600px;
    display: flex;
    background-color: #56257E;
    color: white !important;
    &__image {
        padding: 40px;
        margin: 100px 100px 0 0;
        width: 100px;
        object-fit: contain;
        //align-self: flex-end;
    }
    &__text {
        flex: 1 1 auto;
        padding: 40px 40px 0 0;
        //align-self: flex-start;

    }
}


.article-buttons {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    display: flex;
    //height: 100vh;
    //align-items: center;
    //justify-content: center;
    flex-flow: column;
    & a {
        width: 100%;
        max-width: 280px;
        height: $height;
        padding: 8px;
        font-size: 0.8rem;
        font-weight: 900;
        color: #56257E;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        box-shadow: 0 0 0 1px inset rgba($white, 0.3);
        position: relative;
        margin: 10px 0;
        &.white:hover > p {
            color: #CFACF2;
        }
        &.white > p {
            background: $white2;
            color: $base;
            & span.base {
                border: 1px solid transparent;
            }
        }
        &.transparent:hover > p {
            color: $white;
            & span.text {
                box-shadow: 0 0 0 1px $white;
            }
        }
        &.transparent > p {
            background: $base;
            color: $white;
            & span.base {
                border: 1px solid $white;
            }
        }
        &:after,
        &:before {
            content: "";
            width: 1px;
            position: absolute;
            height: 8px;
            background: $base;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            right: 0;
            left: initial;
        }
        & p {
            margin: 0;
            height: $height;
            line-height: $height;
            box-sizing: border-box;
            z-index: 1;
            left: 0;
            width: 100%;
            position: relative;
            overflow: hidden;
            & span.base {
                box-sizing: border-box;
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                left: 0;
                border: 1px solid #56257E;
                &:before {
                    content: "";
                    width: 2px;
                    height: 2px;
                    left: -1px;
                    top: -1px;
                    background: $base;
                    position: absolute;
                    transition: $transition;
                }
            }
            & span.bg {
                left: -5%;
                position: absolute;
                background: #56257E;
                width: 0;
                height: 100%;
                z-index: 3;
                transition: $transition;
                transform: skewX(-10deg);
            }
            & span.text {
                z-index: 4;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                &:after {
                    content: "";
                    width: 4px;
                    height: 4px;
                    right: 0;
                    bottom: 0;
                    background: $base;
                    position: absolute;
                    transition: $transition;
                    z-index: 5;
                }
            }
        }
        &:hover {
            color: #CFACF2;
            & span.bg {
                width: 110%;
            }
            & span.text:after {
                background: $white;
            }
        }
    }
}

/////////////////////////////

//////// BOTTOM HOME PAGE /////////

/////////////////////////////


//////// ABOUT US /////////
#society {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98rem;
    height: 400px;
}

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98rem;
    height: 827px;
}

.text {

}


/////////////////////////////
