.monBouton:before{
    background-image : url(../img/funnel.svg);
}
.img_cards_cocktails {
    content : url(../img/logo.png);
}
.img_cards_cocktails_like {
    content : url(../img/heart-fill.svg);
}
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1730px
);
.colone_test{
    @include container-max-widths(xl);
}
